---
Checks: "*,
        -llvmlibc-*,
        -fuchsia-default-arguments-calls,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -misc-include-cleaner,
        -readability-redundant-access-specifiers,
        -llvm-include-order,
        -llvm-header-guard,
        -bugprone-easily-swappable-parameters,
        -fuchsia-default-arguments-declarations,
        -altera-unroll-loops,
        -altera-struct-pack-align,
        -readability-redundant-member-init,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
