<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.altlinux.alterator.repo1">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.repo1 requires authentication.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.repo1.Info">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.repo1.Info requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.repo1.List">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.repo1.List requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.repo1.Add">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.repo1.Add requires authentication.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.repo1.Remove">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.repo1.Remove requires authentication.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
