[Desktop Entry]
Type=Application
Name=ALT Services
Name[ru]=Альт Сервисы
GenericName=ALT Services
GenericName[ru]=Альт Сервисы
Comment=Application for deploying services
Comment[ru]=Приложениe для запуска сервисов
Exec=alt-services
Icon=org.altlinux.alt-services
Categories=Settings;System;
DBusActivatable=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.altlinux.alt-services
