<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.altlinux.alterator.batch-control1">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.batch-control1 requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterato.rbatch-control1.Info">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.batch-control1.Info requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.batch-control1.ListFacilities">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.batch-control1.ListFacilities requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.altlinux.alterator.batch-control1.FacilitiesInfo">
    <description>Alterator Authentication dialogue</description>
    <message>org.altlinux.alterator.batch-control1.FacilitiesInfo requires authentication.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
