[Desktop Entry]
Name=ADT
Name[ar]=ADT
Name[bg]=ADT
Name[ca]=ADT
Name[cs]=ADT
Name[da]=ADT
Name[de]=ADT
Name[es]=ADT
Name[fi]=ADT
Name[fr]=ADT
Name[fur]=ADT
Name[he]=ADT
Name[hu]=ADT
Name[id]=ADT
Name[it]=ADT
Name[ko]=ADT
Name[nl]=ADT
Name[pl]=ADT
Name[pt]=ADT
Name[pt_BR]=ADT
Name[ru]=ADT
Name[sk]=ADT
Name[sq]=ADT
Name[sr]=ADT
Name[sv]=ADT
Name[tr]=ADT
Name[uk]=ADT
Name[zh_CN]=ADT
Name[zh_TW]=ADT
GenericName=ADT
GenericName[ru]=Инструменты диагностики
X-GNOME-FullName=ADT
Comment=ALT Diagnostic Tool
Comment[ru]=Инструменты диагностики
Exec=adt
Terminal=false
Icon=adt
Type=Application
Categories=System;FileTools;
