type = "Service"
name = "vsftpd service"
category = "X-Alterator-Servers"
display_name.en = "vsftpd FTP service"
display_name.ru = "Сервис vsftpd FTP"
comment.en = "Secure and fast FTP server"
comment.ru = "Безопасный и быстрый FTP-сервер"
no_default_diag = true
enable_force_deploy = true

[parameters.anonymous_enable]
display_name.en = "Allow anonymous access"
display_name.ru = "Разрешить анонимный доступ"
comment.en = "Enable/disable anonymous FTP login"
comment.ru = "Разрешить или запретить анонимный вход"
type = "boolean"
default = false
context = ["deploy","status", "configure"]
requires = ["deploy", "configure"]

[parameters.local_enable]
display_name.en = "Allow local users"
display_name.ru = "Разрешить локальных пользователей"
comment.en = "Allow local users to log in"
comment.ru = "Разрешить вход локальным пользователям"
type = "boolean"
default = true
context = ["deploy", "status", "configure"]
requires = ["deploy", "configure"]

[parameters.write_enable]
display_name.en = "Enable write"
display_name.ru = "Разрешить запись"
comment.en = "Allow file uploads and changes"
comment.ru = "Разрешить загрузку и изменение файлов"
type = "boolean"
default = true
context = ["deploy","status", "configure"]
requires = ["deploy", "configure"]


[parameters.listen_port]
display_name.en = "Listen port"
display_name.ru = "Слушай порт"
comment.en = "Specifies the port on which vsftpd listens for connections."
comment.ru = "Определяет порт, на котором vsftpd прослушивает подключения"
type = "integer"
default = 21
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.pasv_min_port]
display_name.en = "Passive mode min port"
display_name.ru = "Минимальный порт пассивного режима"
type = "integer"
default = 40000
context = ["deploy", "configure"]
requires = ["deploy", "configure"]


[parameters.pasv_max_port]
display_name.en = "Passive mode max port"
display_name.ru = "Максимальный порт пассивного режима"
type = "integer"
default = 50000
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.backup_name]
display_name.ru = "Имя файла бэкапа"
display_name.en = "Backup filename"
comment.ru = "Оставьте пустым для автоматического имени"
comment.en = "Leave empty to use autogenerated filename"
type = "string"
context = ["restore"]