[Desktop Entry]
Type=Application
Name=ALT Systeminfo
Name[ru]=Альт Системная информация
GenericName=ALT Systeminfo
GenericName[ru]=Альт Системная информация
Comment=Application for show information and configure system
Comment[ru]=Приложениe показа информации и настройки системы
Exec=alt-systeminfo %U
Icon=alt-systeminfo
Categories=Settings;System;
